
/* header */
.slider-img img{
    height: 500px;
    
}

.slider-text h1{
   font-size: 4rem; 
}
.slider-text p{
    font-size: 1.5rem; 
 }

.slider-text{
    background: rgba(3, 1, 14, 0.521);
}




@media only screen and (max-width: 768px){
    
    .slider-text img{ 
        height: 550px;
    }
    .slider-text h1{
        font-size: 2.5rem; 
     }
}

/* header */